html, body {
    /* 重置边距使占满屏幕后不会有滑动条 */
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana, serif;
    font-size: 20px;
}

/* id选择器*/
#test1 {
    text-align: center;
    color: red;
}

/* 类选择器 */
.test1 {
    text-align: center;
}

.test2 {
    color: yellow;
}

.testText {
    text-align: justify;
}

.testDelLine{
    text-decoration: none;
}

.htmlConfig {
    height: 100vh;
    width: 100%;
}